<label for="name">
	<f:translate key="tx_tdhater_domain_model_user.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="hateScore">
	<f:translate key="tx_tdhater_domain_model_user.hate_score" />
</label><br />
	<f:form.textfield property="hateScore" /><br />
<label for="hatePayed">
	<f:translate key="tx_tdhater_domain_model_user.hate_payed" />
</label><br />
	<f:form.textfield property="hatePayed" /><br />
<label for="bwgScore">
	<f:translate key="tx_tdhater_domain_model_user.bwg_score" />
</label><br />
	<f:form.textfield property="bwgScore" /><br />
<label for="bwgPayed">
	<f:translate key="tx_tdhater_domain_model_user.bwg_payed" />
</label><br />
	<f:form.textfield property="bwgPayed" /><br />